@media (max-width: 769px) {
  body {
    font-size: 15px;
  }

  .header {
    padding: 25px;
    text-align: center;
    display: block;
  }

  .header__left {
    display: block;
  }

  .header__logo {
    width: 45px;
    height: 45px;
  }

  .header__title {
    /* display: none; */
  }

  .header__description {
    display: none;
  }

  .header__nav {
    line-height: 1em;
    margin-top: 10px;
  }

  .header__nav a:last-of-type {
    margin: 0;
  }

  .content {
    width: 100%;
    min-width: 400px;
  }

  .player {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }

  .player__art {
    outline: none;
    border: none;
    width: 100%;
    max-width: 350px;
  }

  .player__title {
    margin: 25px 0 0 0;
  }

  .player__status {
    margin-bottom: 10px;
    font-size: 0.6em;
  }

  .player__artist {
    margin: 0;
    font-size: 0.8em;
  }

  .player__track {
    font-size: 1em;
  }
}