* {
  box-sizing: border-box;
}

body {
  overflow-y: auto;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: Overpass Mono !important;
  margin-top: 0;
}

a,
a:active,
a:visited {
  color: inherit;
}

html, body {
  height: 100%;
  line-height: 1.7em;
}

body {
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.8);
}


h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

.container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header {
  padding: 50px 50px 25px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 5;
  font-size: 1.1em;
}

.header__left {
  display: flex;
}

.header__logo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin-right: 15px;
}

.header__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__title {
  font-size: 1.3em;
  font-weight: bold;
  /* text-transform: uppercase; */
  margin: 0;
  line-height: 1em;
}

.header__title a {
  text-decoration: none;
}

.header__description {
  margin: 0;
  line-height: 1.75em;
  color: gray;
}

.header__nav {
  font-size: 0.9em;
  line-height: 0.9em;
}

.header__nav a {
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  color: gray;
  font-size: 1.2em;
}

.header__nav a:hover {
  text-decoration: underline;
}

.content {
  width: 960px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content > * {
  margin-bottom: 100px;
}

.player {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.player__title {
  font-size: 20px;
  margin-left: 50px;
}

.player__artist {
  font-size: 28px;
  margin: 0 0 10px;
  color: gray;
}

.player__track {
  font-size: 36px;
  line-height: 1.25em;
}

.player__art {
  position: relative;
  width: 350px;
  border: 5px solid white;
  outline: 1px solid #ddd;
  flex-shrink: 0;
}

.player__art img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.player__play {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  font-size: 36px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 1px solid rgb(197, 197, 197);
  background: white;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms ease;
  margin: 0 auto;
}

.player__play:hover {
  transform: scale(1.1);
}

.player__play span {
  line-height: 0.5em;
  margin-top: 2px;
}

.player__play span:hover {
}

.player__status {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 25px;
}

.player__status--live {
  color: darkgray;
}