@import "../../../styles/animations.scss";
@import "../../../styles/variables.scss";

.radioWidget {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 48px;
  width: 100%;
}

.metadata {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.nowPlaying {
  animation: slideUp 0.3s ease-in-out;
  animation-fill-mode: backwards;
  overflow: hidden;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin: 0;
  white-space: nowrap;
}

.artist {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 2px 0 0;
  white-space: nowrap;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: $break-small) {
  .radioWidget {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 520px;
  }

  .cover {
    width: 300px;
    height: 300px;
  }

  .metadata {
    height: 171px;
  }
}
