{
  "globals": {
    "__dirname": true,
    "__SOUNDCLOUD_CLIENT_ID__": true,
    "caches": true,
    "clearInterval": true,
    "console": true,
    "document": true,
    "exports": true,
    "fetch": true,
    "module": true,
    "process": true,
    "require": true,
    "setInterval": true,
    "SoundCloud": true,
    "window": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "react/display-name": 0,
    "react/prop-types": 0
  }
}
