.header {
  font-family: hk-grotesk;
}

header.mobile {
  border-bottom: 1px solid #ddd;
  top: 0; right: 0; left: 0;
  z-index: 10;
}

.icon {
  width: 20px;
  height: 20px
}

.link {
  font-weight: 600;
}

.link:last-child {
  padding: 0 !important;
}