@font-face {
  font-family: Overpass Mono;
  src: url(/fonts/overpass-mono-regular.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: Overpass Mono;
  src: url(/fonts/overpass-mono-bold.otf) format('opentype');
  font-weight: bold;
}