$container-width: 768px;
$container-padding: 24px;

$max-width: calc($container-width + (2 * $container-padding));

$accent-color: #0071eb;
$border-color: #ededed;

$primary-text: #000000;
$secondary-text: #343a40;
