$container-width: 65ch;
$container-padding: 24px;

$break-small: calc($container-width + (2 * $container-padding));
$break-medium: calc($break-small * 2);

$accent-color: #0071eb;
$accent-color-hover: #0056b3;
$border-color: #ededed;

$primary-text: #000000;
$secondary-text: #343a40;
