@import "../../styles/animations.scss";
@import "../../styles/variables.scss";

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr) min($container-width, 100%) repeat(
      2,
      1fr
    );
  padding: 64px $container-padding;
  width: 100%;

  > * {
    grid-column: 3;
  }

  > *:global(.w-medium) {
    display: grid;
    grid-column: 2 / 5;
  }

  > *:global(.w-full) {
    display: grid;
    grid-column: 1 / -1;
  }

  > h1,
  > div {
    margin: 0 0 36px;
  }

  > h2 {
    margin: 0 0 12px;
  }

  > h3 {
    margin: 0 0 12px;
  }

  > p {
    margin: 0 0 22px;
  }

  > ul {
    margin: 0 0 22px;
  }

  > ul li {
    margin: 0 0 8px;
  }
}

@media screen and (max-width: $break-small) {
  .main {
    padding-block: 36px;
  }
}
