.player {
  right: 0; bottom: 0; left: 0;
  border-top: 1px solid #ddd;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms ease-out,
              opacity 150ms ease-out;
  z-index: 3;
}

.player.visible {
  opacity: 1;
  transform: translateY(0);
}

.player__control {
  cursor: pointer;
}

.progress {
  background: #ddd;
  flex: 1;
  height: 5px!important;
  width: 100%;
}

/* .progress-bar__progress {
  background: #257AD7;
  height: 100%;
} */
