.player {
  right: 0; bottom: 0; left: 0;
  border-top: 1px solid #ddd;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 150ms ease-out,
              opacity 150ms ease-out;
  z-index: 3;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.playerBtn {
  cursor: pointer;
}

.progress {
  background: #ddd;
  flex: 1;
  height: 5px!important;
  width: 100%;
}

.progressDuration {
  font-size: 13px;
}

.meta {
  width: 300px;
  height: 40px;
}

.cover {
  height: 100%;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}