@import "../styles/variables.scss";

.button {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  gap: 6px;
  width: fit-content;
}

.primary {
  background: $accent-color;
  border: none;
  border-radius: 4px;
  color: white;
  line-height: 15px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  height: 32px;
  padding: 8px 12px;
}

.none {
  background: none;
  border: none;
}
