@import "../styles/animations.scss";
@import "../styles/variables.scss";

.container {
  margin: 64px auto;
  width: $container-width;
}

.main {
  margin-bottom: 48px;
  width: 100%;

  h1,
  > div {
    margin: 36px 0;
  }

  h2 {
    margin: 28px 0;
  }

  h3 {
    margin: 0 0 12px;
  }

  p {
    margin: 0 0 22px;
  }
}

@media screen and (max-width: $max-width) {
  .container {
    margin: 36px 0;
    padding: 0 $container-padding;
    width: 100%;
  }
}
