.progressBar {
  display: flex;
  align-items: center;
  height: 4px;
  position: relative;
  width: 100%;
}

.progressBar::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  left: 0;
  background: #f0f0f0;
  border-radius: 2px;
  height: 2px;
  z-index: -1;
}

.fill {
  background-color: #cfcfcf;
  border-radius: 2px;
  height: 4px;
  position: relative;
  transition: background 100ms ease-in-out;
  &:focus-visible {
    outline: none;
  }
}

.progressBar:hover .fill.draggable::after,
.fill.draggable.dragging::after,
.fill.draggable:focus-visible::after {
  background: inherit;
  border-radius: 50%;
  content: "";
  position: absolute;
  right: -4px;
  top: -2px;
  width: 8px;
  height: 8px;
}
