@import "../styles/animations.scss";

.radioPlayer {
  animation: fadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  gap: 48px;
  margin: 24px 0;
}

.cover {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: auto;
  flex-shrink: 0;

  > div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.isActive {
      transform: translateX(0);
    }
    &.isComplete {
      transform: translateX(-100%);
    }
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.status {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  width: 100%;
}

.title {
  animation: slideUp 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

.artist {
  animation: slideUp 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  font-size: 22px;
  font-weight: 400;
  margin: 4px 0 0;
}
