@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'hk-grotesk';
  src: url('./HKGrotesk-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
