html, body {
  font-family: Avenir Next, sans-serif;
  /* background: #EDEFF1; */
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Avenir Next;
}

.border-top-grey {
  border-top: 1px solid rgb(237, 239, 241);
}

.list-group-item {
  border: none !important;
  border-radius: 0px !important;
  font-size: .9rem;
  padding: 1rem;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
}

.item {
  cursor: pointer;
  height: 80px;
  border-bottom: 1px solid rgb(237, 239, 241);
  opacity: 0.9;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 150ms;
}

.item:hover {
  opacity: 1;
}

.item__title,
.player__title {
  font-size: 1.25em;
}

.item__title:hover {
  opacity: 1;
}

.item__date {
  font-size: 0.9em;
  color: rgb(124, 124, 124);
}

.player__play {
  width: 55px;
  height: 55px;
  background: pink;
  border: none;
  top: 125px;
}