@import "../../styles/animations.scss";
@import "../../styles/variables.scss";

.page {
  display: grid;
  grid-template-rows: 100px 1fr 60px;
  flex-direction: column;
  height: 100%;
}

.page.noFooter {
  grid-template-rows: 100px 1fr;
}

.content.default {
  align-content: flex-start;
  display: grid;
  grid-template-columns:
    2fr 1fr min($container-width, 100%)
    1fr 2fr;
  padding: 64px $container-padding;
  width: 100%;

  > * {
    grid-column: 3;
  }

  > .wide {
    display: grid;
    grid-column: 2 / 5;
  }

  > h1,
  > div {
    margin: 0 0 36px;
  }

  > h2 {
    margin: 0 0 12px;
  }

  > h3 {
    margin: 0 0 12px;
  }

  > p {
    margin: 0 0 22px;
  }

  > ul {
    margin: 0 0 22px;
  }

  > ul li {
    margin: 0 0 8px;
  }
}

.content.fixed {
  align-content: normal;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.footer {
  z-index: 2;
}

@media screen and (max-width: $break-small) {
  .content.default {
    padding-block: 36px;
  }
}
