@media (max-device-width: 400px) {
  body {
    font-size: 15px;
  }

  .container {
    flex-direction: column;
    padding: 25px 25px 100px;
  }

  .logo {
    /* text-align: center; */
    margin-bottom: 10px;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  header {
    /* text-align: center; */
  }

  .player__right {
    display: none;
  }
}