@import "../../styles/animations.scss";

.container {
  display: flex;
  align-items: center;
}

.icon {
  animation: fadeIn 0.8s alternate infinite;
  animation-fill-mode: backwards;
  background: red;
  border-radius: 50%;
  display: inline-block;
}
