.card {
  position: relative;
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card.card--playable:hover {
  cursor: pointer;
}

.card.card--playable:hover .card__overlay {
  opacity: 1;
}

.card.card--playable:hover .card__control {
  transform: scale(1);
}

.card__overlay {
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, .2);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

.card__overlay .card__control {
  transition: transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(0);
}

.card__overlay:hover {
  opacity: 1;
}

.card-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  background: transparent;
  border-radius: 4px;
  padding: 2px 8px;
  z-index: 2;
  text-transform: uppercase;
}

.card-title {
  cursor: pointer;
}

.card-title:hover {
  text-decoration: underline;;
}